*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body {
  font-family: "Raleway", sans-serif;
  color: black;
}

/* Header */

header{

    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.63),rgba(0,0,0,0.5)),url('images/pexels-brigitte-tohm-143642.jpg');
   
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.banner{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 80%;
}

.heading{
    animation-name: slideAcross;
    animation-duration: 2s;
}

.main{
    animation-name: slideAcross;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode:backwards;

}

@keyframes slideAcross{
    0%{
        transform: translateX(-1000px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}



/* End of Header */
